<footer class="footer fixed-bottom" style="position: absolute">
  <div class="bg-secondary text-center text-white">
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-facebook-f" style="color: white"></i>
    </a>

    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-twitter" style="color: white"></i>
    </a>

    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-google" style="color: white"></i>
    </a>

    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-instagram" style="color: white"></i>
    </a>

    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-linkedin-in" style="color: white"></i>
    </a>

    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-github" style="color: white"></i>
    </a>

    <div class="text-center bg-secondary">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
        >Lucas Chagas de Andrade</a
      >
    </div>
  </div>
</footer>
